:root {
  /* color shades */
  --dark: #2a303b;
  --white: #F6F7F9;
  --transition: all 0.3s ease-in-out;
  
  color: var(--dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: monospace;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}